body {
    background-color: bisque;
}

.header img {
    height: 20%;
    width: 20%;
    opacity: 80%;
    margin-left: 40%;


}



.header h1 {
    display: block;
    text-align: center;
    border: 20px solid antiquewhite;
;
    padding: 40px;
}

.tick-list {
    list-style-type: none;
    text-align: center;
    border: 20px solid antiquewhite;
    padding: 1%;

}

.tick-list dt {
    font-size: 20px;
}

.apply-button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #007acc;   /* button color */
    color: #fff;                 /* text color */
    text-decoration: none;       /* remove underline */
    border-radius: 5px;          /* rounded corners */
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 45%;
    margin-bottom: 2%;

}

.apply-button {
    text-align: center;
}

.apply-button:hover {
    background-color: #005fa3;  /* darker on hover */
    transform: scale(1.05);     /* subtle hover effect */
}

.body-text {
    text-align: center;
    border: 20px solid transparent;
    padding: 40px;
    font-size: 20px;

}

body {
    margin: 50px 50px 50px 50px;
}

.pictures img {

    margin: 5%;
    width: 25%;
    height: 30%;
}

.vision {
    text-align: left;
    margin-top: 40px;
}

.pictures, .vision {
    margin: 0;
    padding: 10px;
}

#business {
    text-align: center;
    font-size: 20px;
    border: 20px solid antiquewhite;
    padding: 1%;
}

#email {
    text-align: center;
    text-decoration: none;
}

#foot {
    text-align: center;
}


#pic2 {
    margin-left: 2.3%;
    margin-bottom: 10%;
    width: inherit;
}
